<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-mb-between justify-content-lg-evenly py-3 mb-4 border-bottom">
    <a href="/"><img src="./assets/images/logo.png" alt="logo"></a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary bg-text" style="font-size: 23px;">Início</a></li>
      <li><a href="#" class="nav-link px-2 link-dark bg-text" style="font-size: 23px;">Serviços</a></li>
      <li><a href="#" class="nav-link px-2 link-dark bg-text" style="font-size: 23px;">Contato</a></li>
    </ul>

    <div class="col-md-0 text-end">
      <div> <button type="button" class="btn btn-grad">central do cliente</button></div>
    </div>

  </header>
</div>




<div class="container" style="padding-bottom: 200px;">
  <div class="row">
    <div class="col" style="background-image: url(./assets/images/banner-contant-b.png);">
      <div style="width: 80%; padding-top: 200px;">
        <h1 style="color: white; font-size: 55px;">A melhor solução para sua empresa!
        </h1>
        <h5 style="color: rgba(255, 255, 255, 0.546);">Somos especializados em criação de sites institucionais, landing
          pages de alta conversão e identidade visual.</h5>
        <div class="d-flex gap-4 pt-3">
          <div><button class="btn btn-primary rounded-pill"
              style="padding-left: 20px; padding-right: 20px; padding-top: 9px; padding-bottom: 9px;">CONTATO</button>
          </div>
          <div><button class="btn rounded-pill"
              style="background-color: #252c41; color:white; padding-left: 20px; padding-right: 20px; padding-top: 12px; padding-bottom: 10px;">+
              SERVIÇOS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row row-cols-lg-4 row-cols-sm-4 row-cols-mb-1 row-cols-xs-1 justify-content-between text-center"
    style="background-color: rgba(89, 89, 89, 0);" id="t">
    <div class="col-12 col-sm-12 text-center" style="color: white;">
      <h4>Estamos conectados</h4>
    </div>
    <div class="col-5 col-lg-1"><img src="./assets/images/google.svg" style="width: 80px;" alt="google">
    </div>
    <div class="col-5 col-lg-1 "><img src="./assets/images/facebook.svg" style="width: 80px;" alt="facebook"></div>
    <div class="col-5 col-lg-1 "><img src="./assets/images/youtube.svg" style="width: 80px;" alt="youtube"></div>
    <div class="col-5 col-lg-1"><img src="./assets/images/twitchtv.svg" style="width: 80px;" alt="twitchtv">
    </div>
  </div>
  <div class="border-bottom mt-5" style="margin-bottom: 150px;"></div>
</div>


<div class="container">
  <div style="color: white; text-align: center; width: 60%; margin: auto;">
    <div>
      <h2 style="font-family: Arial, Helvetica, sans-serif;">O QUE <span class="text-primary">FAZEMOS</span></h2>
    </div>

    <div class="pt-4 pb-5" style="color: rgba(255, 255, 255, 0.591);">
      <h5 style="font-family: 'Courier New', Courier, monospace;">Trabalhamos com as melhores estratégias para entregar
        os melhores resultados
      </h5>
    </div>

  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(0, 177, 3); z-index: 4; position: absolute; text-align: center;">
            <strong>Disponivel</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-1.png" class="card-img-top" alt="...">
        <div class="card-body">

          <h5 class="card-title">Frontend Development</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(0, 177, 3); z-index: 4; position: absolute; text-align: center;">
            <strong>Disponivel</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Backend Development</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(255, 13, 0); z-index: 4; position: absolute; text-align: center;">
            <strong>Em breve</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile App Development</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(255, 13, 0); z-index: 4; position: absolute; text-align: center;">
            <strong>Em breve</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AI & Machine Learning</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(255, 13, 0); z-index: 4; position: absolute; text-align: center;">
            <strong>Em breve</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Databases & Data Science</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="d-flex justify-content-end">
          <div
            style="width: 100px; background-color: rgb(255, 13, 0); z-index: 4; position: absolute; text-align: center;">
            <strong>Em breve</strong>
          </div>
        </div>
        <img src="./assets/images/img-card-service-6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servers & Cloud Infrastructure</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-4 pt-5 justify-content-center">
    <div><button class="btn rounded-pill"
        style="background-color: #252c41; color:white; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px;">+
        CARREGAR MAIS</button>
    </div>
  </div>
  <div class="border-bottom" style="margin-bottom: 150px; padding-top: 100px;"></div>
</div>


<div class="container">
  <div style="color: white; text-align: center; width: 60%; margin: auto;">
    <div>
      <h2 style="font-family: Arial, Helvetica, sans-serif;">COMO <span class="text-primary">FAZEMOS</span></h2>
    </div>

    <div class="pt-4 pb-5" style="color: rgba(255, 255, 255, 0.591);">
      <h5 style="font-family: 'Courier New', Courier, monospace;">-
      </h5>
    </div>

  </div>


</div>


<div class="container">

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
          style="background-color: #e2ff03cb !important; color: black;">
          <strong> 01 - Branding</strong>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Etapa inicial para conhecermos melhor sua empresa e os seus objetivos. Com as
          informações recolhidas no briefing é que definimos as oportunidades e os desafios do seu negócio, e
          assim,desenvolvemos as ações mais eficazes.
        </div>
      </div>
    </div>
    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
          style="background-color: #e2ff030b  !important; color: black;">
          <strong>02 - Análise</strong>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Analisamos como as empresas do ramo têm executado suas ações e de que forma podemos
          nos diferenciar positivamente no mercado. Do mesmo modo, estudamos as tendências do design para serem
          aplicadas à sua marca.
        </div>
      </div>
    </div>

    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
          style="background-color: #e2ff030b   !important; color: black;">
          <strong>03 - Criação e apresentação </strong>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">É hora de colocar nosso trabalho criativo em ação! Com todas as informações em mãos,
          aplicamos a nossa criatividade de modo eficaz e alinhado com os seus objetivos. Após a finalização,
          apresentamos a você nossas criações, explicando os conceitos aplicados.
        </div>
      </div>

    </div>

    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingFor">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor"
          style="background-color: #e2ff030b  !important; color: black;">
          <strong>04 - Aprovação da criação e ajustes finais </strong>
        </button>
      </h2>
      <div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingFor"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Este é o momento de realizar todos os ajustes com os nossos clientes para que tudo
          saia exatamente como previsto, tanto no aspecto visual, como de marketing
        </div>
      </div>

    </div>


    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive"
          style="background-color: #e2ff030b   !important; color: black;">
          <strong>05 - Aprovação da criação e ajustes finais </strong>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Enviamos aos clientes o produto finalizadas no formato necessário à sua aplicação.
          Se
          o cliente desejar, podemos acompanhar o processo de impressão com as gráficas, assim como, auxiliar na
          definição de acabamentos do material.
        </div>
      </div>

    </div>


    <div class="accordion-item mb-3">
      <h2 class="accordion-header" id="flush-headingSixe">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSixe" aria-expanded="false" aria-controls="flush-collapseSixe"
          style="background-color: #e2ff030b  !important; color: black;">
          <strong>06 - Aprovação da criação e ajustes finais </strong>
        </button>
      </h2>
      <div id="flush-collapseSixe" class="accordion-collapse collapse" aria-labelledby="flush-headingSixe"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Este é o momento de realizar todos os ajustes com os nossos clientes para que tudo
          saia exatamente como previsto, tanto no aspecto visual, como de marketing
        </div>
      </div>

    </div>
  </div>


  <div class="border-bottom" style="margin-bottom: 150px; padding-top: 100px;"></div>


</div>

<div class="container-fluid">
  <div class="row justify-content-evenly align-items-center text-center text-white">
    <div class="col" style="background-color: red;">a</div>
    <div class="col">a</div>
    <div class="col">a</div>
    <div class="col">a</div>
    <div class="col">a</div>
  </div>
</div>

<div style="margin-top: 2000px;">as</div>
